<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225832616164-l7ueqjcfpedmv8sfjbbgc17fds23g3s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225832616164-l7ueqjcfpedmv8sfjbbgc17fds23g3s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBnsLC-2jxuUzs1nZVOJKQYnILPQu7NzOA</string>
	<key>GCM_SENDER_ID</key>
	<string>225832616164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatter-75ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-75ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225832616164:ios:726457d9443fb34792ecf1</string>
</dict>
</plist>